* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
}

nav ul {
  list-style: none;
  overflow: hidden;
  background-color: #f4ebd0;
}

nav ul li {
  font-size: 1.5em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  padding: 20px;
}

nav ul a:nth-child(1) {
  float: left;
}

nav ul a:nth-child(n + 2) {
  float: right;
}

nav ul li:hover {
  background-color: #f16435;
  border-radius: 10px;
}

@media (max-width: 600px) {
  nav li {
    margin: unset !important;
    text-align: center;
    padding: 10px 0;
  }

  nav a {
    float: unset !important;
  }

  nav ul {
    overflow: unset !important;
  }
}

#index-text {
  color: black;
  text-align: center;
  margin-top: 60px;
  font-size: 4rem;
}

form {
  margin: 10px auto 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
}

form input {
  width: 100%;
  outline: none;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px 10px 10px 5px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
}

/*Remove Default Form Styling*/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border-radius: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 100%;
}

#footer p {
  text-align: center;
  font-size: 1.2rem;
  padding: 30px 0;
}

@media (max-height: 800px) {
  #footer {
    position: static;
    margin-top: 400px;
  }

  #footer p {
    padding: 30px 0 200px 0;
  }
}

.header {
  text-align: center;
  margin-top: 20px;
}

.form-message {
  margin: 20px auto 0 auto;
  border-radius: 10px;
  text-transform: capitalize;
  max-width: 560px;
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-message p {
  text-align: center;
  font-size: 1.6rem;
}

.form-message-red {
  background-color: #ffb3b3;
  border: 2px solid #ff0000;
}

.form-message-green {
  background-color: lightgreen;
  border: 2px solid green;
}

.form-sub-msg {
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 560px;
  color: #00334d;
}

.header-button {
  margin: 10px;
  border-radius: 10px;
  background-color: #f3a781;
}

.nav-text-style {
  color: #0e0f17ea;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-nav-text {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content {
  padding-left: 35%;
  padding-right: 20%;
  display: flex;
}

.blog-content {
  width: 80%;
  display: flex;
  align-items: center;
}

.blog-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */